---
layout: layouts/home.njk
eleventyNavigation:
  key: Posts by tag
  order: 3
---

<h1>Tags</h1>

<div style="text-align:center;margin-bottom:2.5rem">
{% for tag in collections.all | getAllTags | filterTagList %}
	{% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
	<a href="{{ tagUrl }}" class="post-tag-item">{{ tag }}</a>
{% endfor %}
</div>


<h1>All Posts</h1>

{% set postslist = collections.posts %}
{% set d = undefined %}
<ol reversed class="postlist">
{% for post in postslist | reverse %}
    {% set currYear = post.date | readableDate("yyyy") %}
    {% if prevYear != currYear %}
        <li class="postlist-year">{{ currYear }}</li>
        {% set prevYear = currYear %}
    {% endif %}

	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}">
			<p class="postlist-title" style="font-size:larger">{{ post.data.title }}</p>
		</a>
	</li>
{% endfor %}
</ol>
