---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 5
---

<div id="intro" style="font-size:larger">
	<p style="font-weight: bold;">Hello! I'm Justin Pinkney and this is my place on the web.
	<p>I love experimenting with creative uses of machine learning and
	this is my occasionally updated blog of some of the things I get up to.
	<p>You can browse my <a href="/archive/page-1/">blog posts</a>,
		read more <a href="/about">about me</a>,
		<a href="/about/#links">find me</a> in some other places on the web,
		or subscribe to my <a href="/feed/feed.xml">rss feed</a>.
</div>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h2>Latest Blog Posts</h2>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>See <a href="/archive/page-2/">more posts</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
